.header{
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

.top{
  color: white;
  background-color: #2766CC;
  padding: 1rem;
  font-size: 12px;
}

.top a{
  font-weight: bold;
  text-decoration: none;
}

.box-wrap{
  display: flex;
  justify-content: space-between;
}

.box1{
  display: flex;
  justify-content: space-between;
}

.icon{
  margin-top: 14px;
  padding: 6px 14px;
  font-size:25px;
  color: #ccc;
  background-color: #F2F2F2;
  border-radius: 25px;
}

.icons{
  display: flex;
  margin: 20px 120px;
  font-size: 18px;
  color: #8D8D8D;
}

.icon-name1{
  margin-left: 10px;
  font-size: 15px;
}

.icon-name2{
  margin-left: 10px;
  font-size: 15px;
}

.icon-wrap1{
  display: flex;
}

.icon-wrap2{
  display: flex;
  margin-left: 120px;
}

.title{
  margin-left: 20px;
  margin-top: 15px;
  font-size: 16px;
  color: #262626;
}

.para{
  margin-left: 20px;
  margin-top: 5px;
  color: #676767;
  font-size: 13px;
}

.box2{
  display: flex;
}

