.left-sidenav{
  padding-top: 16px;
  width: 260px;
  height: 100%;
}

.nav a{
  padding: 6px;
  text-decoration: none;
  display: block;
  color: #686868;
  font-size: 15px;
  font-weight: 500;
}

.nav a:hover{
  background-color: #F1F5FC;
  border-right: 4px solid #2766CC;
  color: #2766CC;
}

.category-link{
  margin-top: 15px;
}

.category-link a{
  display: flex;
  align-items: center;
  color: #2E6BCE;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding-left: 6px;
}

.category-link a svg{
margin-left: 10px;
}