.detail-content{
  justify-content: center;
  display: flex;
}

.detail{
  margin: 40px;
}

.product-descrip{
  margin-top: 10px;
  font-size: 13px;
  color: #9C9C9C;
}

.product-quantity{
  display: flex;
  justify-content: center;
  padding: 0px 8px;
  border: 2px solid #336ECF;
  border-radius: 3px;
  margin-top: 30px;
  width: 50px;
}

.quantity-btn{
  padding: 0px 8px;
  border: none;
  color: #336ECF;
  font-weight: 700;
  font-size: 18px;
}

.quantity{
  padding: 0px 5px;
  font-size: 14px;
}

.detail-content-title{
  color: #262626;
  font-size: 14px;
}

.thumbnail img{
  margin-top: 10px;
  width: 400px;
}

.amount{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #262626;
}

.amount-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount{
  margin-top: 20px;
  margin-right: 140px;
  background-color: #DD655E;
  font-size: 12px;
  padding: 0px 4px;
  color: white;
  border-radius: 3px;
}

.discount-amount{
  text-decoration: line-through;
  margin-top: 5px;
  font-size: 11px;
  color: #A8A8A8;
}

.buttons{
  margin-top: 80px;
}

.btn1{
  border: 2px solid #2766CC;
  background-color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  color: #2766CC;
  padding: 10px 50px;
  margin-right: 15px;
}

.btn2{
  border: none;
  background-color: #F8DE4B;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  color: #2766CC;
  padding: 12px 50px;
}