
.right-sidebar {
  height: 100%;
  width: 260px;
}

.right-sidebar img{
  width: 130px;
  margin-top: 50px;
}

.category{
  margin-top: 30px;
  display: flex;
  color: #2a2a2a;
  margin-left: 30px;
}

/* .category-number{
  padding: 0rem 0.5rem;
  background-color: #2E6BCE;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 200;
} */

.category-name{
  font-size: 16px;
  font-weight: 600;  
}

.category-thumbnail{
  margin-top: 15px;
  text-align: center;
}

.category-message-title{
  font-size: 15px;
  text-align: center;
}

.category-text{
  margin-top: 10px;
  margin-left: 35px;
  font-size: 14px;
}

.category-message{
  text-align: center;
}

