.order-wrapper{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.orders-div{
  padding: 15px 0 0 15px;
  border-radius: 5px;
  height: 890px;
  width: 60%;
  border: 2px solid #9f9f9f59;
}

.order-steps{
  border-bottom: 1px solid #9f9f9f26;
}

.order-tab{
  display: flex;
  margin-top: 20px;
  padding-bottom: 8px;
}

.tab-icon1{
  font-size: 30px;
  color: red;
}

.tab-icon2{
  font-size: 30px;
  color: green;
}

.tab-icon3{
  font-size: 30px;
  color: #6c6c6c34;
}

.tab-text{
  margin-left: 10px;
}

.tab-heading{
  font-size: 15px;
  margin-left: 10px;
}

.order-text{
  margin-left: 6px;
color: #6C6C6C;
font-size: 12px;
}

.product-order{
  border-bottom: 1px solid #9f9f9f26;
  padding-bottom: 8px;
}

.product-tab{
  display: flex;
}

.products-image img{
  border-radius: 10px;
  height: 90px;
  width: 90px;
}

.product-text{
  margin-left: 10px;
  font-size: 12px;
  color: #6D6D6D;
}

.product-descrip{
  display: flex;
}

.colour{
  margin-left: 10px;
}

.colour-span1{
  margin-left: 5px;
  background-color: #000;
  position: absolute;
  width: 15px;
  margin-right: 15px;
  height: 15px;
  border-radius: 50%;
}

.colour-span2{
  margin-left: 5px;
  background-color: #fff;
  border: 1px solid #6D6D6D;
  position: absolute;
  width: 15px;
  margin-right: 15px;
  height: 15px;
  border-radius: 50%;
}

.product-dt{
  display: flex;
  margin-top: 8px;
}

.x{
  background-color: #6d6d6d0a;
  padding: 2px;
  border-radius: 5px;
}

.products-price{
  margin-left: 460px;
}

.subtotal-div{
  padding: 0 5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #9f9f9f60;
}

.delivery-text{
  color: #000;
  margin-top: 10px;
  font-size: 14px;
}

.total-div{
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-bottom: 1px dashed #9f9f9f60;
}


.phonenumber{
  margin-top: 10px;
  color: #414141;
  font-weight: 800;
  font-size: 11px;
}

.alert-text{
  font-size: 11px;
  font-weight: 800;
  margin-top: 10px;
  color: #00B600;
  border-bottom: 1px solid #9f9f9f60;
  padding: 12px;
}

.delivery-details h3{
  color: #D5D5D5;
  font-size: 13px;
}

.delivery-details{
  color: #000;
  margin-top: 40px;
}

.delivery-address{
  font-size: 13px;
  color: #6D6D6D;
}















